In [ ]:
# for ... in ...
# iterable: list, tuple, dict, set, string

# list
for x in [1, 2, 3]:
    print(x)

1
2
3

In [ ]:
# tuple
for x in (1, 2, 3):
    print(x)

1
2
3

In [ ]:
# dict
# iterate -> dictionary 的 key
for x in { "name": "kk", "age": 25}:
    print(x)

name
age

In [ ]:
foo = {
    "name": "kk",
    "age": 25,
}

for x in foo.values():
    print(x)

kk
25

In [ ]:
bar = { "a", 12, "b" }

In [ ]:
for x in bar:
    print(x)

12
a
b

In [ ]:
# string
for x in 'Hello':
    print(x)

H
e
l
l
o

In [ ]:
# number
for x in 101:
    print(x)

TypeError: 'int' object is not iterable

In [ ]:
# while
x = 1
while x < 5:
    print(x)
    x = x + 1

1
2
3
4

In [ ]:
x = 2
while x <= 100:
    print(x)
    x = x + 2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# iterable
range(1, 10000000)

for x in range(100, 1, -1):
    print(x)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [ ]:
# 固定次數
for i in range(0, 5):
    print('hello')

hello
hello
hello
hello
hello

In [ ]:
for i in range(5):
    print('hello', i)

hello 0
hello 1
hello 2
hello 3
hello 4

In [ ]:
for letter in 'hello':
    print(letter)

h
e
l
l
o

In [ ]:
for i in range(1, 10):
    for j in range(1, 10):
        print(i, 'x', j, '=', i * j)
    print('------')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
------

In [ ]:
member_list = [
    {
        "id": "m001",
        "name": "kk",
        "tags": ["male", "engineer"],
    },
    {
        "id": "m002",
        "name": "louis",
        "tags": ["male", "boss"],        
    },
    {
        "id": "m003",
        "name": "zz",
        "tags": ["female", "designer"],
    },
]

In [ ]:
member = member_list[0]
print(member['tags'])

['male', 'engineer']

In [ ]:
for member in member_list:
    print('member:', member['name'])
    for tag in member['tags']:
        print(tag)
    print('-----')

member: kk
male
engineer
-----
member: louis
male
boss
-----
member: zz
female
designer
-----

In [ ]:
for i in range(5):
    if i % 2 is 0:
        continue
    print(i)

1
3

In [ ]:
# 質數：2, 3, 5, 7, 11, ...
n = 107

# 5 / 2 
# 5 / 3
# 5 / 4 

for x in range(2, n):
    # n 被 x 整除
    if n % x is 0:
        print('不是質數')
        break